* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inconsolata", monospace;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 20px;
}
.top-nav {
  background: black;
}
.label {
  text-align: center;
    margin-top: 17px;
    font-size: 24px;
    font-family: -webkit-pictograph;
}
.lab {
  text-align: center;
  margin-top: 11px;
  font-weight: 300;
  font-family: initial;
}

.list {
  text-align: center;
}
.list li {
  list-style: none;
}
.list-items a {
  text-decoration: none;
  color: #7c7575ee;
}
.wb-ba {
  word-break: break-all;
}
.cards-action {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 20px;
}

.sub-heading {
  background-color: #eeee;
  margin-top: 50px;
}
.btn {
  text-decoration: none;
  color: black;
  border-radius: 4px;
}
.cards-section {
  margin-top: 20px;
}
.btn-primary {
  background: #247cb0;
  color: #fff;
  display: block;
}
.btn-primary1 {
  background: #247cb0;
  color: #fff;
}
.btn-secondary {
  border: 1px solid #d3c9c9;
  display: block;
  color: #7e6f6f;
}
.para {
  margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 20px;
}
.foot {
  margin-top: 40px;
  word-break: break-all;
}
.card {
  transition: 0.3s;
  width: 100%;
  padding: 2px;
  margin-top: 10px;
  border: 1px solid #eee;
}
/* .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */
.card-desc {
  padding: 2px 16px;
}
.card img {
  width: 100%;
}
.space {
  margin-top: 20px;
}
.head {
  font-size: 40px;
  font-weight: 400;
}
.h1{
  font-size: 28px;
    font-family: -webkit-pictograph;
}
@media (min-width: 100px) {
  .sub-heading {
    padding: 50px;
    border-radius: 4px;
  }
  .btn {
    padding: 5px 6px;
  }
  .btn-primary1 {
    padding: 9px 10px;
    font-weight: 600;
  }
  .btn-primary {
    padding: 6px 11px;
    font-weight: 600;
  }
  .head {
    font-size: 54px;
    font-family: auto;
    font-weight: 500;
  }
  
  .lab{
    text-align: center;
    margin-top: 11px;
    margin-left: 33px;
    margin-right: 28px;
    font-size: 15px;
    color: #666a6a;
    font-family: initial;
  }
}
@media (min-width: 400px) {
  .list {
    text-align: left;
    display: flex;
  }
  .list-items a {
    padding-right: 20px;
  }
  .nav-items {
    height: 7px;
    display: flex;
    align-items: center;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .foot p {
    margin-bottom: 20px;
  }
  .bottom {
    border-bottom: 2px solid lightgray;
    margin-top: 32px;
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
